$cga-body-header-color: white;
$cga-body-header-background: #444;
$cga-sidebar-item-color: white;
$cga-sidebar-background: #333;
$cga-header-font-size: 2.5rem;

.cga-container {
    display: flex;
    min-height: 100vh;
}

.cga-sidebar {
    width: 200px;
    background: $cga-sidebar-background;
    min-height: 100vh;

    &-header {
        display: block;
        color: $cga-sidebar-item-color;
        padding: 10px;
        font-size: $cga-header-font-size;
    }

    &-item {
        display: block;
        color: $cga-sidebar-item-color;
        padding: 10px;
    }
}

.cga-body {
    flex: 1;
    overflow: auto;
}

.cga-body-header {
    background: $cga-body-header-background;
    color: $cga-body-header-color;

    &-title {
        font-size: $cga-header-font-size;
    }
}


.cga-body-header,
.cga-body-content {
    padding: 10px;
}
